@each $color, $value in $colors-bg {
	#{if(&, '&.bg-#{$color}','.bg-#{$color}')} {
    @include badge-variant($value);
  }
}

.section_img_bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

