@import "blocks";

.homepage-hero {
	$this: &;

	min-height: calc( 100vh - $header-height );

	@include media-breakpoint-up(lg) {
		min-height: calc( 100vh - $header-height-lg );
	}

	#{$this}__background {
		height: 100%;
		position: relative;

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			max-width: unset;
			max-height: unset;
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__slider {
		position: absolute;
		width: 100%;
		height: 100%;

		&:not(.slick-initialized) {
			#{$this}__slide {
				
				width: 100%;
				height: 100%;

				&:not(:first-child) {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;

					display: none;
				}
			}

			#{$this}__background {
				height: 100%;
			}

			video {
				height: 100%;
				width: 100%;
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}

			& ~ #{$this}__slider-dots-outer-wrap {
				display: none;
			}

			& ~ #{$this}__slider-arrows-container {
				display: none !important;
			}
		}

		&.slick-initialized {

			margin-bottom: 0;

			.slick-list {
				height: 100%;
			}

			.slick-track {
				height: 100%;
			}

			#{$this}__slide {
				width: 100%;
				height: 100%;

				@include media-breakpoint-up(md) {
					margin: 0;
				}
			}

			video {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}

			& ~ #{$this}__slider-dots-outer-wrap {

				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 3;
				
				.slick-dots {
					display: flex;
					position: relative;
					bottom: spacer(4);
					width: 100%;
					max-width: 144rem;
					margin: 0 auto;

					li {
						display: flex;
						flex-grow: 1;
						margin: 0 1rem;
						width: auto;
						height: auto;

						button {
							position: relative;
							overflow: hidden;
							width: 100%;
							height: auto;
							padding: spacer(2) spacer(2) spacer(4) spacer(2);
							font-size: inherit;
							line-height: inherit;
							color: rgba($white, 0.5);
							transition: $transition-base;

							&::before {
								content: '';
								position: absolute;
								bottom: 0;
								top: auto;
								left: 0;
								display: block;
								width: 100%;
								height: 0.3rem;
								opacity: 0.3;
								background: $white;
								border-radius: 0;
								transition: $transition-base;
							}

							&::after {
								content: '';
								position: absolute;
								bottom: 0;
								top: auto;
								left: 0;
								display: block;
								width: 100%;
								height: 0.3rem;
								opacity: 1;
								background: $white;
								border-radius: 0;

								transform: translateX(-100%);
							}

							@include media-breakpoint-up(lg) {
								&:hover, &:focus, &:active {

									color: $white;

									&::before {
										// opacity: 1;
									}
								}
							}
						}

						&.slick-active {
							button {
								color: $white;
								&::before {
									// opacity: 1;
								}

								&::after {
									// transition: all 3s linear;
									// transform: translateX(0);

									animation: translate-animation 3s linear forwards;
								}
							}
						}
					}
				}
			}
		}
	}

	&__gradient {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		@include gradient-directional( rgba($black, 0.3), rgba($black, 0.3), 0deg );

		@include media-breakpoint-up(lg) {
			@include gradient-directional( rgba($black, 0.5), rgba($black, 0.5), 0deg );
		}
	}

	&__content {
		margin-bottom: $header-height;
		position: relative;
		z-index: 2;

		@include media-breakpoint-up(lg) {
			margin-bottom: $header-height-lg;
		}
	}

	&__subtitle {
		max-width: 80rem;
	}

	.slider-arrow-text {
		font-size: 0;
		line-height: 0;
		opacity: 0;
		color: transparent;
		display: none;
	}

	&__slider-arrows-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;

		.btn {
			position: relative;
		}

		.prevArrow {
			left: -3rem;
		}

		.nextArrow {
			right: -3rem;
		}
	}
}

@keyframes translate-animation {
	0% {
		transform: translateX(-101%);
	}
	100% {
		transform: translateX(0%);
	}
}