.social_channels {
	svg {
		width: 4rem;
		height: 4rem;
		margin-left: spacer(2);
		margin-right: spacer(2);

		path {
			fill: $gray-5;
		}

		rect {
			stroke: $gray-5;
		}

		@include media-breakpoint-up(md) {
			width: 3.2rem;
			height: 3.2rem;
			margin-left: spacer(4);
			margin-right: 0;
		}
	}
}
