// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  $this: &;

  display: inline-flex;
  font-family: $font-family-secondary;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-radius: 0;
  box-shadow: none;

  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: spacer(3) spacer(5);

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: spacer(3) spacer(6);
  }

  &-icon {
    .icon {
      margin-left: spacer(3);
      width: auto;
      height: 2.2rem;
      display: flex;
  
      svg {
        path {
          fill: $black;
          transition: $transition-base;
        }
      }
    }
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 1;
    background-color: rgba($black, 0.2) !important;
    color: $black !important;
    border-color: rgba($black, 0.2) !important;
    transition: $transition-base;

    svg {
      path {
        fill: $black !important;
      }
    }
  }

  &,
  &-primary {
    @extend .btn-primary-1;

    color: $black !important;

    &:hover, &:focus, &:active,
    &.hover, &.focus, &.active {
      background: $primary-2 !important;
      border-color: $primary-2 !important;
      color: $black !important;
    }
  }

  &-secondary {
    @extend .btn-primary-1;

    color: $black !important;
    background: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid $black !important;

    &:hover, &:focus, &:active,
    &.hover, &.focus, &.active {
      background: $secondary-2 !important;
      border-color: $secondary-2 !important;
      color: $black !important;
    }
  }

  &-sm {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding: spacer(3) spacer(5);

    @include media-breakpoint-up(md) {
      font-size: 1.6rem;
      line-height: 2.2rem;
      padding: spacer(2) spacer(5);
    }

    .btn-icon--icon {
      margin-left: spacer(2);
      height: 1.6rem;
    }
  }

  @include hover {
    text-decoration: none;
  }

  &-link {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background: transparent !important;
    box-shadow: none;

    span {
      border: 1px solid $black;
      border-radius: 10rem;
      border-radius: 10rem;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      path {
        fill: $black !important;
      }
    }

    svg {
      padding: 0.3rem;
    }

    &:hover, &:focus, &:active, &.hover, &.focus, &.active {
      box-shadow: none;
      background: transparent !important;
      color: $primary-1 !important;
      text-decoration: underline;
    }
  }
}


//
// Alternate buttons
//

@each $color, $value in $colors-button {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $colors-button {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
