@mixin link-variant($color) {
  $hover-color: darken($color, 10%);

  color: $color;
  transition: $transition-base;

  .icon-svg {
    stroke: $color !important;
  }

  @at-root a#{&} {
    @include hover-focus-active() {
      color: $hover-color;

      .icon-svg {
        stroke: $hover-color !important;
      }
    }
  }
}
